apiVersion: v1
kind: Secret
metadata:
  name: mlflow-s3-creds
  namespace: aurora-system
type: Opaque
stringData:
  access_key: "REPLACE_WITH_CEPH_RGW_ACCESS_KEY"
  secret_key: "REPLACE_WITH_CEPH_RGW_SECRET_KEY"
