apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: mltrainingjobs.aurora.io
spec:
  group: aurora.io
  scope: Namespaced
  names:
    plural: mltrainingjobs
    singular: mltrainingjob
    kind: MLTrainingJob
    shortNames:
      - mltj
  versions:
    - name: v1alpha1
      served: true
      storage: true

      subresources:
        status: {}

      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - modelName
                - dataset
                - algorithm
              properties:
                modelName:
                  type: string
                dataset:
                  type: string
                algorithm:
                  type: string
            status:
              type: object
              properties:
                phase:
                  type: string

